

<div class="loader" *ngIf='loading'></div>
<app-search-box (loading)="loading = $event" (results)="updateResults($event)">
</app-search-box>

<div id="left-side-result">
<div class="container-fluid d-flex flex-column  full-height-left-search">
    <div class="row flex-fill d-flex justify-content-start overflow-auto">
        <div class="col-sm-3 left-side-list">
        <app-search-result *ngFor="let result of result" [result]="result" (click)="selectedMovie(result)"></app-search-result>
      </div>
      <div class="col-sm-9 right-side-list">
          <app-show-result [selectedMovieData]="selectedMovieData"></app-show-result>
        </div>
    </div>
  </div>

</div>